<div class="row">

    <div class="col-6">
        <div class="card">
            <h4 class="title-card">{{ graficos.grafico1.leyenda }}</h4>
            <div class="card-body">

                <app-grafico-dona [chartLabels]="  graficos.grafico1.labels " [chartData]=" graficos.grafico1.data " chartType='doughnut'>
                </app-grafico-dona>

            </div>

        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <h4 class="title-card">{{ graficos.grafico2.leyenda }}</h4>
            <div class="card-body">
                <app-grafico-dona [chartLabels]="  graficos.grafico2.labels " [chartData]=" graficos.grafico1.data " chartType='doughnut'>
                </app-grafico-dona>
            </div>

        </div>
    </div>

</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <h4 class="title-card">{{ graficos.grafico3.leyenda }}</h4>
            <div class="card-body">

                <app-grafico-dona [chartLabels]="  graficos.grafico3.labels " [chartData]=" graficos.grafico1.data " chartType='doughnut'>
                </app-grafico-dona>
            </div>

        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <h4 class="title-card">{{ graficos.grafico4.leyenda }}</h4>
            <div class="card-body">
                <app-grafico-dona [chartLabels]="  graficos.grafico3.labels " [chartData]=" graficos.grafico1.data " chartType='doughnut'>
                </app-grafico-dona>

            </div>

        </div>
    </div>

</div>
